<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/css/bulma.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<% include templates/nav.ejs %>
<section class="hero team-header">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        WELCOME TO JN!
      </h1>
      <h2 class="subtitle">
        COEN 3463: Software Engineering | Team 6
      </h2>
    </div>
  </div>
</section>
<div class="container team-member">
  <div class="columns">
    <div class="column" align="center">
      <div class="avatar">
        <a href="./jovaniwarguez">
          <img src="/img/jovaniwarguez.png">
        </a>
      </div>
      <div class="name">
        <p>
          <a href="./jovaniwarguez">
            <span class="title is-bold">Jovani Warguez</span>
          </a>
        </p>
        <br/>
        <p class="tagline">
          21 | Computer Engineer | Full-Stack Web Developer | DOST Scholar
        </p>
      </div>
    </div>
    <div class="column" align="center">
      <div class="avatar">
        <a href="./nerylempenio">
          <img src="/img/nerylempenio.png">
        </a>
      </div>
      <div class="name">
        <p>
          <a href="./nerylempenio">
            <span class="title is-bold">Neryl Empenio</span>
          </a>
        </p>
        <br/>
        <p class="tagline">
          20 | Computer Engineer | Graphics Designer | Front-End Web Developer
        </p>
      </div>
    </div>
  </div>
</div>
<% include templates/footer.ejs %>
<script async type="text/javascript" src="./js/script.js"></script>
</body>
</html>