html,
body
{
    min-height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #373737;
}
a
{
	color: #cda34f;
}
.team-nav
{
	background-color: #373737;
	min-height: 75px;
	z-index: 200;
}
.team-nav .nav-item img
{
	max-height: 50px;
}
.team-nav a
{
	color: #ffffff;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
}
.team-nav a:hover
{
	color: #cda34f !important;
}
.nav-toggle
{
	height: 100%;
}
.nav-toggle.is-active span
{
	background-color: #cda34f;
}
.cycle-slideshow
{
	width: 100%;
	display: block;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.cycle-slideshow img
{
	width: 100%;
	height: auto;
}
.cycle-slideshow span.cycle-prev,
.cycle-slideshow span.cycle-next,
.cycle-slideshow span.cycle-pager
{
	cursor: pointer;
}
.cycle-slideshow span.cycle-prev,
.cycle-slideshow span.cycle-next
{
	display: block;
	position: absolute;
	top: 50%;
	padding: 0 21px;
	color: #ffffff;
	font-size: 45px;
	font-weight: bold;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-ttransform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	z-index: 150;
}
.cycle-slideshow span.cycle-prev:hover,
.cycle-slideshow span.cycle-next:hover
{
	color: #cda34f;
}
.cycle-slideshow span.cycle-prev
{
	left: 5%;
}
.cycle-slideshow span.cycle-next
{
	right: 5%;
}
.cycle-slideshow span.cycle-pager
{
	width: 100%;
	text-align: center;
	z-index: 150;
	top: 90%;
	position: absolute;
}
.cycle-slideshow .cycle-pager span
{
	text-indent: 100%;
	width: 21px;
	height: 21px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid rgba(100, 100, 100, 1);
	background-color: rgba(221, 221, 221, 1);
	margin: 0 5px;
}
.cycle-slideshow span.cycle-pager span:hover
{
	border: 1px solid #cda34f;
}
.cycle-slideshow span.cycle-pager .cycle-pager-active
{
	background-color: #cda34f;
	border: 1px solid #cda34f;
}
.team-header
{
	background-color: #cda34f;
}
.team-header .title,
.team-header .subtitle
{
	color: #ffffff;
}
.team-member
{
	padding-top: 70px;
	padding-bottom: 70px;
}
.team-member .column
{
	padding-left: 100px;
	padding-right: 100px;
}
.team-member .name
{
	padding-top: 15px;
	padding-bottom: 15px;
}

.team-member a span,
.team-member p
{
	color: #ffffff;
}
.team-member a span
{
	font-size: 40px;
	font-weight: bold;
	transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}
.team-member a span:hover
{
	color: #cda34f;
}
.team-member p
{
	font-size: 18px;
}
.team-footer
{
	background-color: #cda34f;
	color: #ffffff;
	padding-top: 25px;
	padding-bottom: 25px;
}
.team-footer .container > div
{
	padding-top: 5px;
	padding-bottom: 5px;
}
.card-profile .card-user
{
	padding-top: 25px;
	padding-bottom: 10px;
}
.card-social > .card-content
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.message-header .title
{
	color: #ffffff;
}
@media screen and (min-width: 769px)
{
	a.nav-item.is-tab:hover
	{
		border-bottom: 4px solid #cda34f;
	}
}
@media screen and (max-width: 768px)
{
	.team-nav .nav-right
	{
		background-color: rgba(55, 55, 55, 0.9);
	}
	a.nav-item.is-tab:hover
	{
		border-bottom: 1px solid #cda34f;
	}
	.cycle-slideshow span.cycle-prev,
	.cycle-slideshow span.cycle-next
	{
		font-size: 30px;
	}
	.cycle-slideshow span.cycle-pager
	{
		display: none;
	}
}