html,
body
{
    min-height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #373737;
}
a
{
	color: #cda34f;
}
.team-nav
{
	background-color: #373737;
	min-height: 75px;
}
.team-nav .nav-item img
{
	max-height: 50px;
}
.team-nav a
{
	color: #ffffff;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
}
.team-nav a:hover
{
	color: #cda34f !important;
}
@media screen and (min-width: 769px)
{
	a.nav-item.is-tab:hover
	{
		border-bottom: 4px solid #cda34f;
	}
}
@media screen and (max-width: 768px)
{
	.team-nav .nav-right
	{
		background-color: rgba(55, 55, 55, 0.9);
	}
	a.nav-item.is-tab:hover
	{
		border-bottom: 1px solid #cda34f;
	}
}
.nav-toggle
{
	height: 100%;
}
.nav-toggle.is-active span
{
	background-color: #cda34f;
}
.team-header
{
	background-color: #cda34f;
}
.team-header .title,
.team-header .subtitle
{
	color: #ffffff;
}
.team-member
{
	padding-top: 70px;
	padding-bottom: 70px;
}
.team-member .column
{
	padding-left: 100px;
	padding-right: 100px;
}
.team-member .name
{
	padding-top: 15px;
	padding-bottom: 15px;
}

.team-member a span,
.team-member p
{
	color: #ffffff;
}
.team-member a span
{
	font-size: 40px;
	font-weight: bold;
	transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}
.team-member a span:hover
{
	color: #cda34f;
}
.team-member p
{
	font-size: 18px;
}
.team-footer
{
	background-color: #cda34f;
	color: #ffffff;
	padding-top: 25px;
	padding-bottom: 25px;
}
.team-footer .container > div
{
	padding-top: 5px;
	padding-bottom: 5px;
}
.card-profile .card-user
{
	padding-top: 25px;
	padding-bottom: 10px;
}
.card-social > .card-content
{
	padding-top: 15px;
	padding-bottom: 15px;
}
.message-header .title
{
	color: #ffffff;
}