<footer class="team-footer">
    <div class="container">
        <div align="center">
            <a href="./">
                <img src="./img/jnlogo.png">
            </a>
        </div>
        <div align="center">
            <p id="footer_copyright">©2016 Copyright JN</p>
        </div>
    </div>
</footer>