<footer class="team-footer">
    <div class="container">
        <div align="center">
            <a href="./">
                <img src="./img/jnlogo.png">
            </a>
        </div>
        <div align="center">
            <a href="https://github.com/jovanidash21/team-jn" target="_blank">
                <img src="./img/github.png">
            </a>
        </div>
        <div align="center">
            <p id="footer_copyright">
                © 2016 COEN 3463 Team 6 | JN
            </p>
        </div>
    </div>
</footer>