<nav class="nav has-shadow team-nav">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item is-brand" href="./">
                <img src="./img/jnlogo.png">
            </a>
        </div>
        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <div class="nav-right nav-menu">
            <a class="nav-item is-tab" href='./'>
                Home
            </a>
            <a class="nav-item is-tab" href='./jovaniwarguez'>
                Jovani
            </a>
            <a class="nav-item is-tab" href='./nerylempenio'>
                Neryl
            </a>
        </div>
    </div>
</nav>