<section class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="4000">
    <span class="cycle-prev">&#9001;</span>
    <span class="cycle-next">&#9002;</span>
    <span class="cycle-pager"></span>
    <img src="<%= slideshow1 %>"/>
    <img src="<%= slideshow2 %>"/>
    <img src="<%= slideshow3 %>"/>
</section>